*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 30px;
}

header {
    background-image: url('../day4/images/soup.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */
    /*shorthand grid-area*/
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    color:white;
    font-size: 60px;
    font-weight: 500;
}

#introduction{
    font-size: 1.2rem;
 /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
    grid-area: 2 / 2 / 3 / 3;
}

.three-elements1{
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-elements2{
    /*class distinta para esta imágen, ya que era más pequeña que la otra*/
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-elements1 img {
    margin-top: 40px;
    height: 55px;
}

.three-elements2 img {
    margin-top: 40px;
    height: 70px;                        
}

hr {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#ingredients {
    font-size: 1rem;
    line-height: 23px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#directions{
    font-size: 1rem;
    line-height: 23px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-bottom: 100px;
}

#ingredients h4, #directions h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.border-top{
    border-top: 0.05rem solid grey;
}

ul, ol{
    list-style-type: none;
    margin: 0 10px;
}

footer {
    height: 50px;
}